/* index.css */
:root {
  --bg-color: white;
  --search-bg: rgb(235, 240, 240);
  --bg-shimmer: rgb(208, 208, 208);
  --bg-gray: rgb(212, 212, 212);
  --text-color: rgb(3, 3, 3);
  --text-gray: rgb(110, 110, 110);
  --text-darkGray: rgb(70, 70, 70);
}
.darkmode {
  --bg-color: rgb(15, 15, 15);
  --bg-gray: rgb(54, 54, 54);
  --bg-shimmer: rgb(49, 49, 49);
  --text-color: rgb(241, 241, 241);
  --text-gray: rgb(150, 150, 160);
  --text-darkGray: rgb(181, 181, 181);
  --search-bg: rgb(40, 40, 40);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s linear;
}
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
/* #####################################  HEADER  ############################# */

#header {
  position: sticky;
  top: 0;
  padding: 10px 25px;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--bg-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
#header .left {
  display: flex;
  align-items: center;
  gap: 20px;
}
#header .left .menu {
  font-size: 27px;
  color: var(--text-color);
  cursor: pointer;
}
#header .left h2 {
  font-size: 21px;
  font-family: "oswald";
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--text-color);
}
#header .left {
  display: flex;
  align-items: center;
}
#header .left .searchBar {
  position: relative;
}
#header .left .searchBar input {
  background-color: var(--bg-color);
  width: 35vw;
  border: 1px solid var(--bg-gray);
  color: var(--text-color);
  border-radius: 30px;
  padding: 8px 20px;
  font-size: 17px;
  outline: none;
  margin-left: 50px;
}

#header .left .searchBar span {
  color: var(--text-gray);
  position: absolute;
  top: 3px;
  right: 4px;
  font-size: 24px;
  padding: 6.2px 10px;
  border-radius: 30px;
  background-color: var(--search-bg);
  cursor: pointer;
}
#header .left .searchBar span:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}
#header .left #mic {
  border-radius: 50%;
  font-size: 24px;
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 7px;
}
#header .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
#header .right .new_video {
  padding: 9px 18px;
  background-color: var(--text-color);
  font-size: 14px;
  color: var(--bg-color);
  font-weight: 500;
  display: flex;
  border-radius: 30px;
  gap: 10px;
}
#header .right .new_video span {
  padding: 0;
  font-size: 22px;
  color: var(--bg-color);
  background-color: transparent;
}
#header .right span {
  color: var(--text-color);
  font-weight: 500;
  font-size: 24px;
  padding: 8px;
  border-radius: 50%;
  background-color: var(--search-bg);
  cursor: pointer;
}
#reponsive_menu {
  display: none;
}
#searchSuggetion {
  position: absolute;
  top: 50px;
  background-color: var(--search-bg);
  width: 35vw;
  left: 4.5vw;
  padding: 7px 0;
  font-family: "inter";
  letter-spacing: 0.2px;
  color: var(--text-color);
}
#searchSuggetion p {
  padding: 6px 10px;
}
#searchSuggetion p:hover {
  background-color: var(--bg-gray);
  cursor: default;
}

@media screen and (max-width: 900px) {
  #header {
    padding: 10px 10px;
  }
  #header .menu {
    display: none;
  }
  #header .left #mic {
    display: none;
  }
  #header .new_video p {
    display: none;
  }
  #reponsive_menu {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--bg-color);
  }
  #reponsive_menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
    color: var(--text-color);
    padding: 5px;
  }
  #reponsive_menu span {
    font-size: 28px;
    color: var(--text-color);
  }

  #header .left .searchBar {
    position: relative;
  }
  #header .left .searchBar input {
    width: 50vw;
    margin-left: 0px;
  }
}

@media screen and (max-width: 650px) {
  #header .left .searchBar {
    position: fixed;
    width: 100%;
    left: 0;
  }
  #header .left .searchBar input {
    width: 100%;
  }
}
/* ###############################  Body  ################################### */
#body {
  width: 100vw;
  display: flex;
  position: fixed;
  top: 58px;
  background-color: var(--bg-color);
}

/* ################################   Side Bar   ################################## */

#sideBar {
  height: 100vh;
  position: sticky;
  top: 65px;
  background-color: var(--bg-color);
  z-index: 100;
  padding-top: 18px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-right: 1px solid var(--bg-gray);
}
.sideBar {
  width: 200px;
  opacity: 1;
  display: flex;
}
.sideBarClose {
  width: 0px;
  opacity: 0;
  display: none;
}
#sideBar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px 10px 0;
  width: 110%;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  border-radius: 15px;
}
#sideBar p {
  padding: 10px 20px 10px 10px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: var(--text-color);
  border-radius: 15px;
}
#sideBar a span {
  font-size: 25px;
  padding: 0 10px;
}
#sideBar a.active {
  font-weight: 500;
  background-color: var(--search-bg);
}
#sideBar a.active span {
  font-weight: 700;
}
#sideBar a.active::before {
  content: "";
  height: 25px;
  width: 4px;
  border-radius: 10px;
  background-color: red;
}
/* ####################################  Main  Container  ############################### */

#main {
  max-height: 100vh;
  overflow-y: scroll;
  margin-bottom: 50px;
}
#main::-webkit-scrollbar {
  display: none;
}
/* ----------------  Buttons  --------------------- */
#buttonList {
  max-width: 85vw;
  gap: 15px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding: 12px 10px 10px 4vw;
  position: sticky;
  top: 3px;
  background-color: var(--bg-color);
}
#buttonList::-webkit-scrollbar {
  display: none;
}
#buttonList button {
  padding: 4px 13px;
  background: var(--bg-gray);
  color: var(--text-color);
  font-weight: 400;
  letter-spacing: 0.3px;
  border: none;
  font-size: 16px;
  border-radius: 10px;
}
#main .video_container {
  width: 100%;
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 30px 10px;
}
#main .video_container .videoCard {
  width: 360px;
  padding: 10px;
}
#main .video_container .videoCard img {
  width: 100%;
  border-radius: 10px;
}
#main .video_container .videoCard .video_info {
  display: flex;
  padding: 10px 0;
}
#main .video_container .videoCard h2 {
  width: 95%;
  color: var(--text-color);
  font-size: 14px;
  font-family: "inter";
  font-weight: 600;
  line-height: 22px;
  margin-left: 10px;
}
#main .video_container .videoCard p {
  font-family: "inter";
  font-size: 13px;
  color: var(--text-gray);
  margin-left: 10px;
  margin-bottom: 0;
}
#main .video_container .videoCard h3 {
  font-family: "poppins";
  font-size: 13px;
  color: var(--text-darkGray);
  margin: 2px 10px;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 1400px) {
  #buttonList {
    max-width: 82vw;
  }
}
@media screen and (max-width: 1000px) {
  #buttonList {
    max-width: 75vw;
  }
}

@media screen and (max-width: 900px) {
  #body {
    display: block;
  }
  #sideBar {
    display: none;
  }
  #main {
    min-height: 100vh;
    padding: 0;
  }
  #buttonList {
    max-width: 100vw;
    top: 0;
    margin-top: 0;
    padding: 10px;
  }
  #main .video_container {
    gap: 20px 0;
    padding: 10px 0;
  }
}

#shimmer_card {
  width: 360px;
  height: 250px;
  margin: 25px 0;
}

@media screen and (max-width: 700px) {
  #main .video_container {
    gap: 0;
    margin-top: 0;
  }
  #main .video_container .videoCard {
    padding: 0;
    width: 100%;
    margin-top: 0;
  }
  #main .video_container .videoCard img {
    width: 100%;
    border-radius: 0;
  }
  #main .video_container .videoCard .video_info {
    padding: 10px;
  }
  #main .video_container .videoCard .video_info .chennel {
    display: flex;
    gap: 5px;
  }
  #main .video_container .videoCard h2 {
    width: 98%;
    color: var(--text-color);
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 3px;
  }
  #main .video_container .videoCard p {
    font-family: "poppins";
    font-size: 12px;
    color: var(--text-gray);
    margin-left: 10px;
  }
  #main .video_container .videoCard h3 {
    font-family: "poppins";
    font-size: 12px;
    color: var(--text-darkGray);
    margin: 2px 10px;
    letter-spacing: 0.3px;
  }
  #shimmer_card {
    width: 100%;
    height: 250px;
    margin: 25px 0;
  }
}

/* ########################   Watch Page  ############################### */

#watchPage {
  max-height: 100vh;
  overflow-y: scroll;
  flex-basis: 1;
  width: 100vw;
  padding: 20px 5vw;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
#watchPage::-webkit-scrollbar {
  display: none;
}
#watchPage #video_watch {
  width: 55vw;
}
#watchPage #video_watch iframe {
  width: 55vw;
  height: 31vw;
  border-radius: 15px;
}
#watchPage #video_watch h3 {
  font-family: "roboto";
  font-weight: 900;
  font-size: 20px;
  color: var(--text-color);
}
#watchPage #video_watch .name_likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
#watchPage #video_watch .likes {
  display: flex;
  gap: 10px;
}
#watchPage #video_watch .likes span {
  color: var(--text-color);
  background-color: var(--search-bg);
  font-size: 25px;
  padding: 5px 15px;
  border-radius: 30px;
}
#watchPage #video_watch .likes p {
  color: var(--text-color);
  background-color: var(--search-bg);
  font-size: 17px;
  font-family: "inter";
  font-weight: 600;
  border-radius: 30px;
  display: flex;
  padding-right: 15px;
  align-items: center;
}
#relatedVideos {
  width: 370px;
  min-height: 100%;
  background-color: var(--search-bg);
  padding: 5px 10px;
  border-radius: 10px;
}
#relatedCard {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
#relatedCard img {
  width: 120px;
  border-radius: 10px;
}
#relatedCard h2 {
  font-size: 14px;
  font-family: "inter";
  font-weight: 600;
  color: var(--text-color);
}
#relatedCard p {
  font-size: 13px;
  font-weight: 600;
  color: var(--text-darkGray);
}
#shimmer_watch {
  width: 50%;
  margin-left: 50px;
  padding: 15px;
}
#shimmer_watch .video {
  width: 100%;
  height: 73%;
  border-radius: 15px;
  background-color: var(--search-bg);
}
@media screen and (max-width: 900px) {
  #watchPage {
    height: 100%;
    flex-basis: 1;
    width: 100%;
    margin-left: 0;
    padding: 20px 0;
    display: grid;
    gap: 10px;
    grid-template-columns: 100vw;
  }
  #watchPage #video_watch {
    height: 100%;
  }
  #watchPage #video_watch iframe {
    width: 100vw;
    height: 55vw;
    border-radius: 0;
  }
  #relatedVideo {
    width: 100%;
  }
  #watchPage #video_watch h3 {
    font-size: 18px;
    margin: 5px 10px;
  }
  #watchPage #video_watch .name_likes {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    align-items: flex-start;
    padding: 15px 10px;
  }
  #watchPage #video_watch .likes {
    display: flex;
    gap: 10px;
  }
  #watchPage #video_watch .likes span {
    font-size: 22px;
    padding: 6px 20px;
  }
  #watchPage #video_watch .likes p {
    padding-right: 20px;
  }
  #shimmer_watch {
    width: 100%;
    height: 100vh;
    margin-left: 0;
    padding: 10px;
  }
  #shimmer_watch .video {
    width: 100%;
    height: 25%;
    border-radius: 10px;
    background-color: var(--search-bg);
  }
}

/* ##########################  Description  ################### */

#description {
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
  margin-top: 15px;
  background-color: var(--search-bg);
}
#description p {
  white-space: pre-line;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  font-family: "inter";
  color: var(--text-color);
  font-size: 14px;
}
#description span {
  color: var(--text-darkGray);
  font-size: 16px;
  font-family: "inter";
  font-weight: 600;
  cursor: pointer;
  margin-top: 15px;
}
#comments h2 {
  color: var(--text-color);
  letter-spacing: 0.3px;
  font-family: "inter";
  font-size: 21px;
  font-weight: 700;
  margin-top: 30px;
}
#comments .comment {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  margin-top: 15px;
}
#comments .comment p {
  font-size: 13px;
  color: var(--text-color);
  font-family: "inter";
  margin-top: 5px;
}
#comments .comment h4 {
  font-size: 12px;
  font-weight: 600;
  color: var(--text-color);
  font-family: "inter";
}
#comments .comment .buttons {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
#comments .comment .buttons span {
  font-size: 20px;
  color: var(--text-color);
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 50%;
}
#comments .comment .buttons span:hover {
  background-color: var(--bg-gray);
}
#comments .comment .buttons i {
  font-size: 12px;
  font-family: "inter";
  font-weight: 600;
  color: var(--text-color);
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 20px;
  font-style: normal;
  cursor: pointer;
}
#comments .comment .buttons i:hover {
  background-color: var(--bg-gray);
}

@media screen and (max-width: 600px) {
  #description {
    padding: 10px;
  }
  #comments {
    padding: 10px;
  }
}

#searchPage {
  max-height: 100vh;
  overflow-y: scroll;
  flex-basis: 1;
  width: 100vw;
  padding: 20px 5vw;
}
#searchPage .card {
  background: var(--bg-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
  margin-top: 10px;
}
#searchPage img {
  width: 300px;
}
#searchPage h1 {
  color: var(--text-color);
  font-size: 20px;
  font-family: "inter";
  font-weight: 600;
  margin-top: 10px;
}
#searchPage h3 {
  color: var(--text-darkGray);
  font-size: 16px;
  font-family: "inter";
  font-weight: 500;
  margin-top: 10px;
}
#searchPage h4 {
  color: var(--text-gray);
  font-size: 14px;
  font-family: "inter";
  font-weight: 500;
  margin-top: 10px;
}
