/* index.css */
:root {
  --bg-color: white;
  --text-color: rgb(3, 3, 3);
  --text-gray: rgb(110, 110, 110);
  --search-bg: rgb(235, 240, 240);
  --bg-gray: rgb(212, 212, 212);
  --text-darkGray: rgb(70, 70, 70);
}
.darkmode {
  --bg-color: rgb(15, 15, 15);
  --bg-gray: rgb(54, 54, 54);
  --text-color: rgb(241, 241, 241);
  --text-gray: rgb(150, 150, 160);
  --text-darkGray: rgb(181, 181, 181);
  --search-bg: rgb(40, 40, 40);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s linear;
}
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
/* #####################################  HEADER  ############################# */

#header {
  position: sticky;
  top: 0;
  padding: 7px 25px;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--bg-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
#header .left {
  display: flex;
  align-items: center;
  gap: 20px;
}
#header .left .menu {
  font-size: 27px;
  color: var(--text-color);
  cursor: pointer;
}
#header .left h2 {
  font-size: 21px;
  font-family: "oswald";
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--text-color);
}
#header .left {
  display: flex;
  align-items: center;
}
#header .left input {
  background-color: var(--bg-color);
  width: 35vw;
  border: 1px solid var(--bg-gray);
  border-radius: 30px;
  padding: 8px 20px;
  font-size: 17px;
  outline: none;
  margin-left: 50px;
}
#header .left div {
  position: relative;
}
#header .left div span {
  color: var(--text-gray);
  position: absolute;
  top: 3px;
  right: 4px;
  font-size: 24px;
  padding: 6.2px 10px;
  border-radius: 30px;
  background-color: var(--search-bg);
  cursor: pointer;
}
#header .left div span:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}
#header .left #mic {
  border-radius: 50%;
  font-size: 24px;
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 7px;
}
#header .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
#header .right .new_video {
  padding: 9px 18px;
  background-color: var(--text-color);
  font-size: 14px;
  color: var(--bg-color);
  font-weight: 500;
  display: flex;
  border-radius: 30px;
  gap: 10px;
}
#header .right .new_video span {
  padding: 0;
  font-size: 22px;
  color: var(--bg-color);
  background-color: transparent;
}
#header .right span {
  color: var(--text-color);
  font-weight: 500;
  font-size: 24px;
  padding: 8px;
  border-radius: 50%;
  background-color: var(--search-bg);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  #header {
    padding: 7px 10px;
  }
  #header .searchBar {
    display: none;
  }
  #header .new_video p {
    display: none;
  }
}
/* ###############################  Body  ################################### */
#body {
  width: 100vw;
  display: flex;
  background-color: var(--bg-color);
}

/* ################################   Side Bar   ################################## */

#sideBar {
  height: 100vh;
  position: sticky;
  top: 54px;
  background-color: var(--bg-color);
  z-index: 100;
  padding-top: 18px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-right: 1px solid var(--bg-gray);
}
.sideBar {
  width: 300px;
  opacity: 1;
  display: flex;
}
.sideBarClose {
  width: 0px;
  opacity: 0;
  display: none;
}
#sideBar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px 10px 0;
  width: 110%;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  border-radius: 15px;
}
#sideBar a span {
  font-size: 25px;
  padding: 0 10px;
}
#sideBar a.active {
  font-weight: 500;
  background-color: var(--search-bg);
}
#sideBar a.active span {
  font-weight: 700;
}
#sideBar a.active::before {
  content: "";
  height: 25px;
  width: 4px;
  border-radius: 10px;
  background-color: red;
}

/* ####################################  Main  Container  ############################### */

#main {
  flex-grow: 1;
  min-height: 100vh;
  padding: 10px 20px 0 10px;
}

/* ----------------  Buttons  --------------------- */
#buttonList {
  max-width: 90vw;
  gap: 15px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding: 12px 10px 20px 4vw;
  position: sticky;
  top: 55px;
  background-color: var(--bg-color);
  background-color: aliceblue;
}
#buttonList::-webkit-scrollbar {
  display: none;
}
#buttonList button {
  padding: 5px 13px;
  background-color: var(--bg-gray);
  color: var(--text-color);
  font-weight: 400;
  letter-spacing: 0.3px;
  border: none;
  font-size: 16px;
  border-radius: 7px;
}
#main .video_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 30px 10px;
}
#main .video_container .videoCard {
  width: 360px;
  padding: 10px;
}
#main .video_container .videoCard img {
  width: 100%;
  border-radius: 25px;
}
#main .video_container .videoCard h2 {
  width: 95%;
  color: var(--text-color);
  font-size: 16px;
  font-family: "roboto";
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.4px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}
#main .video_container .videoCard p {
  font-family: "poppins";
  font-size: 14px;
  color: var(--text-gray);
  margin-left: 10px;
  margin-bottom: 0;
}
#main .video_container .videoCard h3 {
  font-family: "poppins";
  font-size: 14.5px;
  color: var(--text-darkGray);
  margin: 3px 10px;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 900px) {
  #body {
    display: block;
  }
  #sideBar {
    position: fixed;
    height: 100vh;
    background-color: var(--bg-color);
  }
  #main {
    min-height: 100vh;
    padding: 10px 0;
  }
  #buttonList {
    display: none;
  }
  #main .video_container {
    gap: 20px 0;
  }
  #main .video_container .videoCard {
    width: 100%;
  }
}
